.background-setting {
    background-image: url('../../../assets/login_background.png');
    background-size: 100% 100%;
    height: 100vh;
  }
  mat-card {
    height: auto;
    width: 540px;
    border-radius: 13px;
  }
  .top-heading {
    margin-top: 0px;
    color: #212529;
    font-family: Calibri !important;
    font-size: 30px;
    font-weight: 700;
  }
  .label {
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 18px;
    color: #212529;
    font-family: Calibri !important;
  }
  .button {
    background-color: #005A7F;
    color: white;
    width: 100%;
    height: 40px;
    font-family: Calibri !important;
    font-size: 17px;
  }
  a {
    font-family: Calibri !important;
    font-size: 18px;
  }
  :host ::ng-deep.ngx-select__item_active {
    color: #fff;
    outline: 0;
    background-color: #005A7F !important;
    color: white !important;
  }
  :host::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    color: white;
    background-color: #005A7F !important;
  }
  :host::ng-deep.ng-select.ng-select-single .ng-select-container {
    height: 40px;
  }

  mat-form-field {
    font-size: 12px;
    width: 36rem;
}

  